* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1, h2,h3 {
    margin: 0;
    padding: 0
}

img {
    width: 100%;
}

.wrapper {
    color: white;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


.day {
    background-image: url('./img/bg-image-daytime.jpg');
    background-color: rgba(0, 0, 0, 0.43);
    background-blend-mode: multiply;
}

.night {
    background-image: url('./img/bg-image-nighttime.png');
}

.night .expanding-container {
    background-color: black;
}

.day .expanding-container {
    background-color: #979797da;
    color: black;
}

.wrapper {
    height: 100vh;
    overflow: hidden;
}

.icon {
    max-width: 30px;
}

.time {
    font-size: 6.25rem;
    font-weight: 700;
}

.quote-container {
    margin-top: 1.5rem;
    font-size: 0.75rem;
    line-height: 1.75rem;
}

.author {
    font-weight: bold;
}

.greeting {
    font-size: 0.938rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.188rem;
}

.icon {
    width: 1.375rem;
}

.location {
    font-size: 0.938rem;
    font-weight: 500;
    letter-spacing: 0.188rem;
}

.btn {
    font-size: .75rem;
    font-weight: bold;
    letter-spacing: 3.75px;
    text-transform: uppercase;
}

.btn-arrow {
    width: .6rem;
}

.subtitle {
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.125rem;
}

.fetched-data {
    font-size: 1.25rem;
    font-weight: 700;
}


.container {
    width: 90%;
    max-width: 990px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.time-btn-container {
    margin-top: auto;
    row-gap: 1rem;
    margin-bottom: 2rem;
}

.time-btn-container > * {
    grid-column: 1 / -1;
}

.btn {
    padding: .3rem 1rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: none;
}

.btn-arrow {
    display: block;
    background-color: black;
    width: 100%;
    aspect-ratio: 1;
    padding: .3rem;
    border-radius: 5rem;
}

.greeting-container {
    display: flex;
}

.quote-container .author {
    grid-column: 1 / -1;
}

.quote {
    grid-column: 1 / 11;
}

.quote-container .icon {
    grid-column: 12;
    justify-self: end;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}

.expanding-container {
    margin-top: auto;
    padding: 3rem 0;
}

.helper-class {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 1rem;

}

.data-slot {
    grid-column: span 2;
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    column-gap: 1%;
}

.data-slot > * {
    flex-basis: 49.5%;
}

.fetched-data {
    text-align: right;
}

.quote-container {
    padding-top: 1.5rem;
}

.expanding-container {
    display: none;
}

.flex {
    display: flex;
    align-items: baseline
}

.abbreviation {
    font-weight: 300;
}

.greeting {
    margin-left: 1rem;
}

button,
.quote-container .icon {
    cursor: pointer;
}

.hide {
    display: none;
}

footer {
    text-align: center;
    padding: .5rem 0;
}


@media (min-width: 550px){
    :root {
        font-size: calc(16px + .5vw);
    }
    .data-slot {
        grid-column: span 1;
        width: fit-content;
    }

    .data-slot > * {
        flex-basis: 100%;
        text-align: left;
    }    
}

@media (min-width: 800px) {
    .greeting-container,
    .time-container,
    .quote-container .author,
    .quote {
        grid-column: 1 / 8;
    }

    .btn-container {
        grid-column: span 1 / -1;
        align-self: end;
    }

    .quote-container .icon {
        grid-column: span 1;
        justify-self: end;
    }
}

.expanded .expanding-container {
    display: block;
}

.expanded .quote-container {
    display: none;
}

.expanded .time-btn-container {
    margin-bottom: 0;
}

.expanded .expand {
    display: none;
}

.expanded .hide {
    display: block;
}

.expanded .btn-arrow {
    transform: rotateX(180deg);
}

.time-btn-container,
.expanded > * {
    transition: 400ms all ease-in-out;
}
